.app-ltr-v4gekj {
border-radius: 40px !important;
}
@media (min-width: 1025px) {
  .app-ltr-foxy03 {
    background-image: url("https://github.com/yildizonurtb-create/tutarbu-css/blob/main/background.png?raw=true") !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
  }
}
/* 1. Adım: Elementi masaüstünde (ve her yerde) tamamen gizle */
.app-ltr-1l44gyp {
  display: none !important;
}

/* 2. Adım: Sadece mobil ekranlarda (768px ve altı) elementi görünür yap ve ayarlarını uygula */
@media (max-width: 768px) {
  .app-ltr-1l44gyp {
    display: block !important; /* Elementi görünür yapar */
    width: 100%;
    max-width: 1432px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
