.app-ltr-v4gekj {
border-radius: 40px !important;
}
.app-ltr-foxy03 {
  background-image: url(https://github.com/yildizonurtb-create/tutarbu-css/blob/main/background.png?raw=true);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
